.statblocks-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mode-toolbar {
  background-color: #424242;
}

.spacer {
  flex: 1 1 auto;
}

.mode-button {
  margin-left: 16px;
  
  mat-icon {
    margin-right: 8px;
  }
}

.content {
  flex: 1;
  padding: 16px;
}
